<%- include("header"); -%>
    <h2>This is the about page.</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit voluptatibus officia molestias vero dignissimos
        aut, laudantium, cupiditate, aspernatur placeat facilis accusantium hic iure esse veniam! Similique dicta porro
        cum quos.</p>
    <%- include("footer") -%>